@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

:root{
    --font-Montserrat:'Montserrat';
    --font-Fraunces:'Fraunces';
    --font-gsize: 14px;
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:   var(--Cream);
}

main{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
}
#one{
    width: 50%;
    background-image: url(./images/image-product-desktop.jpg); 
    background-size: cover;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}
#two{
    width: 50%;
    overflow:hidden;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--White);
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
}

.cptl{
    letter-spacing: 3px;
    font-family: var(--font-Montserrat);
    font-size: var(--font-gsize);
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}

#bigtxt{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: var(--font-Fraunces);
    color: var(--Very-dark-blue);
    font-weight: 700;
}

#para{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: var(--font-Montserrat);
    color: var(--Dark-grayish-blue);
    font-size: var(--font-gsize);
}

#dollar{
    display: flex;
    align-items: center;
    display: flex;
}

.bigdol{
    margin-right: 1rem;
    font-family: var(--font-Fraunces);
    font-size: 2rem;
    font-weight: 700;
    color:  var(--Dark-cyan);
}

.smalldol{
    text-decoration: line-through;
    font-size: var(--font-gsize);
    color: var(--Dark-grayish-blue);
    font-family: var(--font-Montserrat);
}

button{
    all: initial;
    height: 60px;
    width: 215px;
    display: flex;
    color: var(--White);
    justify-content: center;
    align-items: center;
    background-color:  var(--Dark-cyan);
    border: none;
    font-family: var(--font-Montserrat);
    font-weight: 700;
    font-size: var(--font-gsize);
    border-radius: 0.6rem;
    transition: all 0.5s ;
}

button:hover{
    background-color: hsl(158, 36%, 25%);
}

svg{
    margin-right: 0.6rem;
}


@media screen and (max-width: 650px){
    body{
        
        height: 100vh;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    main{
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 96%;
        flex-direction: column;
    }
    #one{
        height: 40%;
        width: 100%;
        background-image: url(./images/image-product-mobile.jpg);
        border-top-right-radius: 0.6rem;
        border-bottom-left-radius: 0;
    }
    #two{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.6rem;
    }

    button{
        height: 40px;
        width: 85vw;
        border: none;
    }

    button:active{
        background-color: hsl(158, 36%, 25%);
    }
}